// Mixins in here
.custom-button(@btn-color, @width, @font-color){
    display: block;
    background-color: @btn-color
    width: 200px;
    height: 45px;
    border-radius: 15px;
    color: @font-color;
    font-size: 1.77rem;
}

